* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(243, 169, 169);
}



.text {
    position: relative;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align:center;
    margin-top: 50px;
}

.heart {
    position: relative;
    height: 160px;
    width: 100px;
    background: rgb(192, 18, 18);
    border-radius: 200px 200px 0 0;
    transform: rotate(45deg);
    animation-name: heart;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;

}

.heart::before {
    content: "";
    position: absolute;
    background: rgb(192, 18, 18);
    height: 160px;
    width: 100px;
    transform: rotate(-90deg);
    border-radius: 200px 200px 0 0;
    left: -30px;
    top: 30px;

}

@keyframes heart {
    0% {background-color: rgb(192, 18, 18);; left:0px; top:0px;}
  25%  {background-color: rgb(192, 18, 18);; left:400px; top:0px;}
  50%  {background-color: rgb(192, 18, 18);; left:400px; top:400px;}
  75%  {background-color: rgb(192, 18, 18);; left:0px; top:400px;}
  100% {background-color: rgb(192, 18, 18);; left:0px; top:0px;}
}


